   
   /* CSS GRID */

      .container {
      display: grid;
      width: 75vw;
      height: 80vh;
      margin-top: 5vh;
      margin-bottom: 5vh;
      grid-template-columns: 200px 1fr;
      grid-template-rows: 180px 60vh 20vh 200vh 100px;
      grid-gap: 1.5rem;
      grid-template-areas:
          "gear header"
          "sidebar content-1"
          "sidebar content-2"
          "sidebar content-3"
          "sidebar footer";
      }

      .header {
      grid-area: header;
      }

      .sidebar {
      grid-area: sidebar;
      }

      .content-1 {
      grid-area: content-1;
      }

      .content-2 {
      grid-area: content-2;
      }

      .content-3 {
      grid-area: content-3;
      }

      .footer {
      grid-area: footer;
      /* grid-row: 4 / 5;
      grid-column: 1 / 4; */
      }
  
  /* OTHER STYLES */
  
  body {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .header {
    background-color: #1EAAFC;
    background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
  }
  
  .sidebar {
    background-color: white;
    border: 1px solid black;
    position: fixed;
    top: 269px;
  }

  .gearbox {
    grid-area: gear;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    }

  #gearlogo {
    height: 180px;
    width: auto;
  }

  h2 {
    margin-top: 0px;
  }
  
  .content-1,
  .content-2,
  .content-3 {
    background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
  }
  
  /* .footer {
    background-color: #6C52D9;
    background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
  } */

  .body{
    height:2000px;
    margin:5px auto;
    width:100%;
    text-align:center;
    font-size:1.3em;
  }
  
  p:hover{
    cursor:pointer;
  }
  
  #goto-topJS{
    margin-left:1%;
    position:fixed;
    bottom:20px;
    left:50px;
  }
  