* {
    box-sizing: border-box;
    font-family: Courier
}

body {
    margin: 0px;
}
header {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Roboto', sans-serif;
}
p, li {
    line-height: 1.5em;
}
section {
    padding: 20px;
}

#inspiration {
    background-color: orange;
    padding-top: 50px;
    padding-bottom: 50px;
}