* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Courier, Arial, sans-serif;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: orange;
    padding-top: 50px;
    padding-bottom: 50px;
}