* {
    box-sizing: border-box;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}

body {
    margin: 0px;
    font-family: Courier;
}
header {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
p, li {
    line-height: 1.5em;
}
section {
    padding: 20px;
}

#inspiration {
    background-color: orange;
    padding-top: 50px;
    padding-bottom: 50px;
}